################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/Live/Assets
/node_modules
/obj
/Properties
/Xavier.PureClient.csproj.user

